:root{
    --background-color: rgba(17,18,36,1);
    --background-gradient: linear-gradient(155deg, var(--background-color) 14%, rgb(33, 34, 62) 29%, var(--background-color) 50%);
    --primary: #577fd6;
    /* --primary: #2a4489;  #5775fb; */
    --secondary: #fafafb;
    --tertiary: #7fc0fe;
    --slate: #8892b0;
    --hover-color: rgba(108, 138, 200, .15);
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --navbar-height: 75px;
    --navy-shadow:  rgba(2,12,27,0.7);
    --white-glow: 0px 0px 2.5px rgba(61,123,259,31);
    --transition: all 0.25 scubic-bezier(0.645,0.045,0.355,1);
}

body {
    background: var(--background-gradient);
    font-family: var(--font-sans);
    font-size: var(--fz-md);
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
}

div {
    margin: 0;
    padding: 0;
}

p {
    color: #a5b0d1;
    font-size: 20px;
    padding: 0px;
}

h1 {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

#navbar {
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
    display: flex;
    font-family: var(--font-mono);
    height: var(--navbar-height);
    justify-content: right;
    position: fixed;
    top: 0;
    transition: var(--transition);
    width: 100%;
}

nav {
    margin: 30px;
}

nav a {
    margin: 10px;
}

a {
    text-decoration: none;
}

a:hover{
    color: var(--primary);
}

.primary-colored {
    color: var(--primary);
    text-shadow: var(--white-glow);
}

.secondary-colored {
    color: var(--secondary);
    text-shadow: var(--white-glow);
}

.primary-button {
    background-color: rgba(0,0,0,0);
    border: 2px var(--primary) solid;
    border-radius: 5px;
    box-shadow: 0 0 4px .5px var(--primary);
    color: var(--primary);
    cursor: pointer;
    font-family: var(--font-mono);
    font-size: var(--fz-md);
    font-weight: 600;
    padding: 7.5px 17.5px;
    text-shadow: var(--white-glow);
}

.primary-button:hover{
    background-color: var(--hover-color);
}

#contact {
    border: 2px white solid;
    bottom: 0;
    position: fixed;
    width: 100px;
}

.section {
    margin-top: var(--navbar-height);
    min-height: 90vh;
}

/* css styling for the intro section */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

#intro-line {
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),7vw,var(--fz-xxl));
    margin: 0;
}

#name {
    color: #ccdff6;
    display: inline-block;
    font-size: clamp(30px, 7vw, 70px);
    letter-spacing: 2px;
    margin: 0;
    margin-top: 10px;
}

#description {
    color: var(--slate);
    font-size: var(--fz-lg);
    font-weight: 200px;
    letter-spacing: 1px;
    line-height: 1.5;
    max-width: 540px;
    margin-bottom: 45px;
}